*{
    font-family: sans-serif;
}
body{
    text-align: center;
}
.btn{
    padding: 5px 118px ;
    font-size:15px;
    font-weight:bold ;
    cursor: pointer;
    border-radius:0px 25px;
    color: white;
    background-color: rgb(20, 213, 220);
}
legend{
    font-weight: bold;
    color: rgb(20, 213, 220);
}
input[type="text"],input[type="email"]{
    width: 80%;
    height: 30px;
    border-radius:5px;
}
textarea{
    width: 80%;
    height: 80px;
}

label {
    float: left;
    position: relative;
    left: 9.5%;
}
fieldset {
    background-image: linear-gradient(to bottom left, rgb(192, 198, 255), white, rgb(4, 0, 255));
}